/* ============ Global Styles ============ */
body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  scroll-behavior: smooth;
  background-color: #0f0f0f;
  color: #1f2937;
}

a {
  text-decoration: none;
  color: inherit;
}

.about-us {
  display: flex;
  width: 100%;
}
