.contact-section {
  width: 50%;
}
.contact-us {
  input,textarea  {
    width: 300px;
    height: 40px;
    border: none;color: #ffffff;
    border-radius: 5px;
    background-color: #27262e;
    padding-inline: 10px;
    outline: none;
    box-shadow: 0 2px 6px #27262e;
  }
}
.text-field {
  height: 135px;
}